extends ../extend/default

block variables
	- var title = 'After registration';

block main
	main.content

		//begin entry
		+b.SECTION.entry._default
			+e.top
				+e.back-title.back-title
					h4 WoWBody
				+e.top-container.container

					+e.text(data-anim-stagger='fade-y')
						+e.title.title-md
							h2 Ваша регистрация прошла успешно!
						+e.descr
							p Остался последний шаг - выбрать подходящий абонемент:
							p Абонемент активириуется автоматически сразу после оплаты в этот же день!
		//begin prices
		+b.SECTION.prices._white
			+e.container.container
				+e.inner
					+e.item(data-anim-stagger='fade-y')
						+e.item-value
							h5
								sup €
								| 35.44
						+e.item-value._uah
							h5 (1200.99 грн)
						+e.item-title
							h5
								span WOWBODY STRONG + STRONG 2
						+checkBox('__item-checkbox', '8 недель')(name='price-checkbox' type='radio' checked)
						+b.promo-code.__item-promo-code(data-anim-stagger="fade-y")
							+e.BUTTON.action-btn.js-promo-code-enter-btn
								span ВВЕСТИ ПРОМОКОД
								svg(class='promo-code__action-btn-icon' version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='-90.175 170.214 792.175 451.746')
									path(d='M266.733 605.657L-73.872 265.052c-21.737-21.737-21.737-56.797 0-78.534 21.736-21.737 56.796-21.737 78.358 0l301.338 301.34 301.514-301.164c21.562-21.737 56.796-21.737 78.358 0 21.736 21.562 21.736 56.797 0 78.358L345.092 605.657c-10.87 10.868-25.068 16.303-39.267 16.303-14.024 0-28.223-5.435-39.092-16.303z')
							+e.FORM.form.form(action='#!' method='POST')
								+e.form-group.form-group.js-form-group-clear
									+e.INPUT.form-control.form-control(type='text' name='' required)
									+e.BUTTON.form-group-clear-btn.js-form-group-clear-btn(type='button')
										svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
											path(fill-rule='evenodd', clip-rule='evenodd', d='M8.34432 7L13.7216 1.62273C14.0928 1.25151 14.0928 0.64964 13.7216 0.278417C13.3504 -0.0928057 12.7485 -0.0928057 12.3773 0.278417L7 5.65568L1.62273 0.278417C1.25151 -0.0928057 0.64964 -0.0928057 0.278417 0.278417C-0.0928057 0.64964 -0.0928057 1.25151 0.278417 1.62273L5.65568 7L0.278417 12.3773C-0.0928057 12.7485 -0.0928057 13.3504 0.278417 13.7216C0.64964 14.0928 1.25151 14.0928 1.62273 13.7216L7 8.34432L12.3773 13.7216C12.7485 14.0928 13.3504 14.0928 13.7216 13.7216C14.0928 13.3504 14.0928 12.7485 13.7216 12.3773L8.34432 7Z')
								+e.BUTTON.apply-btn.btn._white-hov(type='submit')
									span ПРИМЕНИТЬ
								.help-block Неверный промокод
							+e.success
								svg(class='promo-code__success-icon' width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(d='M44.8696 11.301H3.13043C1.40449 11.301 0 12.7055 0 14.4315V20.6923C0 22.4183 1.40449 23.8228 3.13043 23.8228H44.8696C46.5955 23.8228 48 22.4183 48 20.6923V14.4315C48 12.7055 46.5954 11.301 44.8696 11.301ZM45.913 20.6923C45.913 21.2683 45.4455 21.7358 44.8695 21.7358H3.13043C2.55443 21.7358 2.08692 21.2683 2.08692 20.6923V14.4315C2.08692 13.8555 2.55443 13.3879 3.13043 13.3879H44.8696C45.4456 13.3879 45.9131 13.8555 45.9131 14.4315V20.6923H45.913Z')
									path(d='M44.8696 21.7358H3.13042C2.55442 21.7358 2.08691 22.2033 2.08691 22.7793V41.5619C2.08691 44.4377 4.42848 46.7793 7.30427 46.7793H40.6956C43.5714 46.7793 45.913 44.4377 45.913 41.5619V22.7793C45.913 22.2033 45.4456 21.7358 44.8696 21.7358ZM43.826 41.5619C43.826 43.2879 42.4216 44.6924 40.6956 44.6924H7.30437C5.57842 44.6924 4.17393 43.2879 4.17393 41.5619V23.8229H43.826V41.5619Z')
									path(d='M16.8417 1.3421C15.6208 0.978975 14.2622 1.45059 13.4879 2.48784C12.8994 3.27877 12.722 4.26172 12.9975 5.18627C14.4333 10.0155 18.9558 13.388 23.9999 13.388C24.5759 13.388 25.0434 12.9205 25.0434 12.3445C25.0434 7.30244 21.6709 2.7779 16.8417 1.3421ZM14.9968 4.59149C14.8799 4.19706 15.0489 3.88607 15.1616 3.73581C15.364 3.46454 15.6708 3.30175 15.9797 3.30175C16.0694 3.30175 16.1592 3.31633 16.2469 3.34353C19.8406 4.40993 22.4472 7.56961 22.8897 11.2343C19.2229 10.7897 16.0653 8.18317 14.9968 4.59149Z')
									path(d='M34.512 2.48977C33.7399 1.45253 32.3729 0.980907 31.1583 1.34198C26.3291 2.77777 22.9565 7.30027 22.9565 12.3444C22.9565 12.9204 23.4241 13.3879 24.0001 13.3879C29.0443 13.3879 33.5667 10.0153 35.0025 5.1882C35.2801 4.26375 35.1006 3.27864 34.512 2.48977ZM33.0011 4.59137C31.9347 8.1851 28.775 10.7917 25.1104 11.2341C25.5549 7.56733 28.1615 4.4098 31.7532 3.34125C31.8429 3.31621 31.9327 3.30163 32.0203 3.30163C32.3292 3.30163 32.6359 3.46441 32.8363 3.73569C32.949 3.88595 33.1201 4.19693 33.0011 4.59137Z')
									path(d='M24.4005 11.3824C24.0081 11.2176 23.5636 11.3073 23.2631 11.6078L17.0022 17.8686C16.5953 18.2756 16.5953 18.9372 17.0022 19.3442C17.4092 19.7511 18.0708 19.7511 18.4777 19.3442L22.9563 14.8634V45.7358C22.9563 46.3118 23.4238 46.7793 23.9998 46.7793C24.5758 46.7793 25.0433 46.3118 25.0433 45.7358V12.3444C25.0433 11.9229 24.7887 11.541 24.4005 11.3824Z')
									path(d='M30.9977 17.8688L24.7368 11.608C24.3298 11.201 23.6682 11.201 23.2613 11.608C22.8543 12.0149 22.8543 12.6765 23.2613 13.0835L29.5221 19.3443C29.7267 19.5467 29.9938 19.6491 30.2609 19.6491C30.5281 19.6491 30.7952 19.5468 30.9977 19.3443C31.4046 18.9373 31.4046 18.2758 30.9977 17.8688Z')
								p Скидка 20% активирована
							+b.A.prices__item-btn.btn._white-hov(href='#!')
								span ПРОЙТИ ПРОГРАММУ

					+e.item(data-anim-stagger='fade-y')
						+e.item-value
							h5
								sup €
								| 35.32
						+e.item-value._uah
							h5 (900.99 грн)
						+e.item-title
							h5
								span WOWBODY STRONG + STRONG 2
						+checkBox('__item-checkbox', '8 недель')(name='price-checkbox' type='radio' checked)
						+b.promo-code.__item-promo-code(data-anim-stagger="fade-y")
							+e.BUTTON.action-btn.js-promo-code-enter-btn
								span ВВЕСТИ ПРОМОКОД
								svg(class='promo-code__action-btn-icon' version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='-90.175 170.214 792.175 451.746')
									path(d='M266.733 605.657L-73.872 265.052c-21.737-21.737-21.737-56.797 0-78.534 21.736-21.737 56.796-21.737 78.358 0l301.338 301.34 301.514-301.164c21.562-21.737 56.796-21.737 78.358 0 21.736 21.562 21.736 56.797 0 78.358L345.092 605.657c-10.87 10.868-25.068 16.303-39.267 16.303-14.024 0-28.223-5.435-39.092-16.303z')
							+e.FORM.form.form(action='#!' method='POST')
								+e.form-group.form-group.js-form-group-clear
									+e.INPUT.form-control.form-control(type='text' name='' required)
									+e.BUTTON.form-group-clear-btn.js-form-group-clear-btn(type='button')
										svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
											path(fill-rule='evenodd', clip-rule='evenodd', d='M8.34432 7L13.7216 1.62273C14.0928 1.25151 14.0928 0.64964 13.7216 0.278417C13.3504 -0.0928057 12.7485 -0.0928057 12.3773 0.278417L7 5.65568L1.62273 0.278417C1.25151 -0.0928057 0.64964 -0.0928057 0.278417 0.278417C-0.0928057 0.64964 -0.0928057 1.25151 0.278417 1.62273L5.65568 7L0.278417 12.3773C-0.0928057 12.7485 -0.0928057 13.3504 0.278417 13.7216C0.64964 14.0928 1.25151 14.0928 1.62273 13.7216L7 8.34432L12.3773 13.7216C12.7485 14.0928 13.3504 14.0928 13.7216 13.7216C14.0928 13.3504 14.0928 12.7485 13.7216 12.3773L8.34432 7Z')
								+e.BUTTON.apply-btn.btn._white-hov(type='submit')
									span ПРИМЕНИТЬ
								.help-block Неверный промокод
							+e.success
								svg(class='promo-code__success-icon' width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(d='M44.8696 11.301H3.13043C1.40449 11.301 0 12.7055 0 14.4315V20.6923C0 22.4183 1.40449 23.8228 3.13043 23.8228H44.8696C46.5955 23.8228 48 22.4183 48 20.6923V14.4315C48 12.7055 46.5954 11.301 44.8696 11.301ZM45.913 20.6923C45.913 21.2683 45.4455 21.7358 44.8695 21.7358H3.13043C2.55443 21.7358 2.08692 21.2683 2.08692 20.6923V14.4315C2.08692 13.8555 2.55443 13.3879 3.13043 13.3879H44.8696C45.4456 13.3879 45.9131 13.8555 45.9131 14.4315V20.6923H45.913Z')
									path(d='M44.8696 21.7358H3.13042C2.55442 21.7358 2.08691 22.2033 2.08691 22.7793V41.5619C2.08691 44.4377 4.42848 46.7793 7.30427 46.7793H40.6956C43.5714 46.7793 45.913 44.4377 45.913 41.5619V22.7793C45.913 22.2033 45.4456 21.7358 44.8696 21.7358ZM43.826 41.5619C43.826 43.2879 42.4216 44.6924 40.6956 44.6924H7.30437C5.57842 44.6924 4.17393 43.2879 4.17393 41.5619V23.8229H43.826V41.5619Z')
									path(d='M16.8417 1.3421C15.6208 0.978975 14.2622 1.45059 13.4879 2.48784C12.8994 3.27877 12.722 4.26172 12.9975 5.18627C14.4333 10.0155 18.9558 13.388 23.9999 13.388C24.5759 13.388 25.0434 12.9205 25.0434 12.3445C25.0434 7.30244 21.6709 2.7779 16.8417 1.3421ZM14.9968 4.59149C14.8799 4.19706 15.0489 3.88607 15.1616 3.73581C15.364 3.46454 15.6708 3.30175 15.9797 3.30175C16.0694 3.30175 16.1592 3.31633 16.2469 3.34353C19.8406 4.40993 22.4472 7.56961 22.8897 11.2343C19.2229 10.7897 16.0653 8.18317 14.9968 4.59149Z')
									path(d='M34.512 2.48977C33.7399 1.45253 32.3729 0.980907 31.1583 1.34198C26.3291 2.77777 22.9565 7.30027 22.9565 12.3444C22.9565 12.9204 23.4241 13.3879 24.0001 13.3879C29.0443 13.3879 33.5667 10.0153 35.0025 5.1882C35.2801 4.26375 35.1006 3.27864 34.512 2.48977ZM33.0011 4.59137C31.9347 8.1851 28.775 10.7917 25.1104 11.2341C25.5549 7.56733 28.1615 4.4098 31.7532 3.34125C31.8429 3.31621 31.9327 3.30163 32.0203 3.30163C32.3292 3.30163 32.6359 3.46441 32.8363 3.73569C32.949 3.88595 33.1201 4.19693 33.0011 4.59137Z')
									path(d='M24.4005 11.3824C24.0081 11.2176 23.5636 11.3073 23.2631 11.6078L17.0022 17.8686C16.5953 18.2756 16.5953 18.9372 17.0022 19.3442C17.4092 19.7511 18.0708 19.7511 18.4777 19.3442L22.9563 14.8634V45.7358C22.9563 46.3118 23.4238 46.7793 23.9998 46.7793C24.5758 46.7793 25.0433 46.3118 25.0433 45.7358V12.3444C25.0433 11.9229 24.7887 11.541 24.4005 11.3824Z')
									path(d='M30.9977 17.8688L24.7368 11.608C24.3298 11.201 23.6682 11.201 23.2613 11.608C22.8543 12.0149 22.8543 12.6765 23.2613 13.0835L29.5221 19.3443C29.7267 19.5467 29.9938 19.6491 30.2609 19.6491C30.5281 19.6491 30.7952 19.5468 30.9977 19.3443C31.4046 18.9373 31.4046 18.2758 30.9977 17.8688Z')
								p Скидка 20% активирована
							+b.A.prices__item-btn.btn._white-hov(href='#!')
								span ПРОЙТИ ПРОГРАММУ

					+e.item._color(data-anim-stagger='fade-y')
						+e.item-value
							h5
								sup €
								| 15.99
						+e.item-value._uah
							h5 (3200 грн)
						+e.item-title
							h5 Доступ к программе
								span WOWBODY STRONG
						+checkBox('__item-checkbox', '4 недели')(name='price-checkbox' type='radio')
						+b.promo-code.__item-promo-code
							+e.BUTTON.action-btn.js-promo-code-enter-btn
								span ВВЕСТИ ПРОМОКОД
								svg(class='promo-code__action-btn-icon' version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='-90.175 170.214 792.175 451.746')
									path(d='M266.733 605.657L-73.872 265.052c-21.737-21.737-21.737-56.797 0-78.534 21.736-21.737 56.796-21.737 78.358 0l301.338 301.34 301.514-301.164c21.562-21.737 56.796-21.737 78.358 0 21.736 21.562 21.736 56.797 0 78.358L345.092 605.657c-10.87 10.868-25.068 16.303-39.267 16.303-14.024 0-28.223-5.435-39.092-16.303z')
							+e.FORM.form.form(action='#!' method='POST')
								+e.form-group.form-group.js-form-group-clear
									+e.INPUT.form-control.form-control(type='text' name='' required)
									+e.BUTTON.form-group-clear-btn.js-form-group-clear-btn(type='button')
										svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
											path(fill-rule='evenodd', clip-rule='evenodd', d='M8.34432 7L13.7216 1.62273C14.0928 1.25151 14.0928 0.64964 13.7216 0.278417C13.3504 -0.0928057 12.7485 -0.0928057 12.3773 0.278417L7 5.65568L1.62273 0.278417C1.25151 -0.0928057 0.64964 -0.0928057 0.278417 0.278417C-0.0928057 0.64964 -0.0928057 1.25151 0.278417 1.62273L5.65568 7L0.278417 12.3773C-0.0928057 12.7485 -0.0928057 13.3504 0.278417 13.7216C0.64964 14.0928 1.25151 14.0928 1.62273 13.7216L7 8.34432L12.3773 13.7216C12.7485 14.0928 13.3504 14.0928 13.7216 13.7216C14.0928 13.3504 14.0928 12.7485 13.7216 12.3773L8.34432 7Z')
								+e.BUTTON.apply-btn.btn._white-hov(type='submit')
									span ПРИМЕНИТЬ
								.help-block Неверный промокод
							+e.success
								svg(class='promo-code__success-icon' width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(d='M44.8696 11.301H3.13043C1.40449 11.301 0 12.7055 0 14.4315V20.6923C0 22.4183 1.40449 23.8228 3.13043 23.8228H44.8696C46.5955 23.8228 48 22.4183 48 20.6923V14.4315C48 12.7055 46.5954 11.301 44.8696 11.301ZM45.913 20.6923C45.913 21.2683 45.4455 21.7358 44.8695 21.7358H3.13043C2.55443 21.7358 2.08692 21.2683 2.08692 20.6923V14.4315C2.08692 13.8555 2.55443 13.3879 3.13043 13.3879H44.8696C45.4456 13.3879 45.9131 13.8555 45.9131 14.4315V20.6923H45.913Z')
									path(d='M44.8696 21.7358H3.13042C2.55442 21.7358 2.08691 22.2033 2.08691 22.7793V41.5619C2.08691 44.4377 4.42848 46.7793 7.30427 46.7793H40.6956C43.5714 46.7793 45.913 44.4377 45.913 41.5619V22.7793C45.913 22.2033 45.4456 21.7358 44.8696 21.7358ZM43.826 41.5619C43.826 43.2879 42.4216 44.6924 40.6956 44.6924H7.30437C5.57842 44.6924 4.17393 43.2879 4.17393 41.5619V23.8229H43.826V41.5619Z')
									path(d='M16.8417 1.3421C15.6208 0.978975 14.2622 1.45059 13.4879 2.48784C12.8994 3.27877 12.722 4.26172 12.9975 5.18627C14.4333 10.0155 18.9558 13.388 23.9999 13.388C24.5759 13.388 25.0434 12.9205 25.0434 12.3445C25.0434 7.30244 21.6709 2.7779 16.8417 1.3421ZM14.9968 4.59149C14.8799 4.19706 15.0489 3.88607 15.1616 3.73581C15.364 3.46454 15.6708 3.30175 15.9797 3.30175C16.0694 3.30175 16.1592 3.31633 16.2469 3.34353C19.8406 4.40993 22.4472 7.56961 22.8897 11.2343C19.2229 10.7897 16.0653 8.18317 14.9968 4.59149Z')
									path(d='M34.512 2.48977C33.7399 1.45253 32.3729 0.980907 31.1583 1.34198C26.3291 2.77777 22.9565 7.30027 22.9565 12.3444C22.9565 12.9204 23.4241 13.3879 24.0001 13.3879C29.0443 13.3879 33.5667 10.0153 35.0025 5.1882C35.2801 4.26375 35.1006 3.27864 34.512 2.48977ZM33.0011 4.59137C31.9347 8.1851 28.775 10.7917 25.1104 11.2341C25.5549 7.56733 28.1615 4.4098 31.7532 3.34125C31.8429 3.31621 31.9327 3.30163 32.0203 3.30163C32.3292 3.30163 32.6359 3.46441 32.8363 3.73569C32.949 3.88595 33.1201 4.19693 33.0011 4.59137Z')
									path(d='M24.4005 11.3824C24.0081 11.2176 23.5636 11.3073 23.2631 11.6078L17.0022 17.8686C16.5953 18.2756 16.5953 18.9372 17.0022 19.3442C17.4092 19.7511 18.0708 19.7511 18.4777 19.3442L22.9563 14.8634V45.7358C22.9563 46.3118 23.4238 46.7793 23.9998 46.7793C24.5758 46.7793 25.0433 46.3118 25.0433 45.7358V12.3444C25.0433 11.9229 24.7887 11.541 24.4005 11.3824Z')
									path(d='M30.9977 17.8688L24.7368 11.608C24.3298 11.201 23.6682 11.201 23.2613 11.608C22.8543 12.0149 22.8543 12.6765 23.2613 13.0835L29.5221 19.3443C29.7267 19.5467 29.9938 19.6491 30.2609 19.6491C30.5281 19.6491 30.7952 19.5468 30.9977 19.3443C31.4046 18.9373 31.4046 18.2758 30.9977 17.8688Z')
								p Скидка 20% активирована
							+b.A.prices__item-btn.btn._white-hov(href='#!')
								span ПРОЙТИ ПРОГРАММУ

					+e.item._color(data-anim-stagger='fade-y')
						+e.item-value
							i €35
							h5
								sup €
								| 25.44
						+e.item-value._uah
							i (6000.55 грн)
							h5 (4400.99 грн)
						+e.item-title
							h5 Доступ к программе
								span WOWBODY STRONG 2
						+checkBox('__item-checkbox', '4 недели')(name='price-checkbox' type='radio')
						+b.promo-code.__item-promo-code
							+e.BUTTON.action-btn.js-promo-code-enter-btn
								span ВВЕСТИ ПРОМОКОД
								svg(class='promo-code__action-btn-icon' version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='-90.175 170.214 792.175 451.746')
									path(d='M266.733 605.657L-73.872 265.052c-21.737-21.737-21.737-56.797 0-78.534 21.736-21.737 56.796-21.737 78.358 0l301.338 301.34 301.514-301.164c21.562-21.737 56.796-21.737 78.358 0 21.736 21.562 21.736 56.797 0 78.358L345.092 605.657c-10.87 10.868-25.068 16.303-39.267 16.303-14.024 0-28.223-5.435-39.092-16.303z')
							+e.FORM.form.form(action='#!' method='POST')
								+e.form-group.form-group.js-form-group-clear
									+e.INPUT.form-control.form-control(type='text' name='' required)
									+e.BUTTON.form-group-clear-btn.js-form-group-clear-btn(type='button')
										svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
											path(fill-rule='evenodd', clip-rule='evenodd', d='M8.34432 7L13.7216 1.62273C14.0928 1.25151 14.0928 0.64964 13.7216 0.278417C13.3504 -0.0928057 12.7485 -0.0928057 12.3773 0.278417L7 5.65568L1.62273 0.278417C1.25151 -0.0928057 0.64964 -0.0928057 0.278417 0.278417C-0.0928057 0.64964 -0.0928057 1.25151 0.278417 1.62273L5.65568 7L0.278417 12.3773C-0.0928057 12.7485 -0.0928057 13.3504 0.278417 13.7216C0.64964 14.0928 1.25151 14.0928 1.62273 13.7216L7 8.34432L12.3773 13.7216C12.7485 14.0928 13.3504 14.0928 13.7216 13.7216C14.0928 13.3504 14.0928 12.7485 13.7216 12.3773L8.34432 7Z')
								+e.BUTTON.apply-btn.btn._white-hov(type='submit')
									span ПРИМЕНИТЬ
								.help-block Неверный промокод
							+e.success
								svg(class='promo-code__success-icon' width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(d='M44.8696 11.301H3.13043C1.40449 11.301 0 12.7055 0 14.4315V20.6923C0 22.4183 1.40449 23.8228 3.13043 23.8228H44.8696C46.5955 23.8228 48 22.4183 48 20.6923V14.4315C48 12.7055 46.5954 11.301 44.8696 11.301ZM45.913 20.6923C45.913 21.2683 45.4455 21.7358 44.8695 21.7358H3.13043C2.55443 21.7358 2.08692 21.2683 2.08692 20.6923V14.4315C2.08692 13.8555 2.55443 13.3879 3.13043 13.3879H44.8696C45.4456 13.3879 45.9131 13.8555 45.9131 14.4315V20.6923H45.913Z')
									path(d='M44.8696 21.7358H3.13042C2.55442 21.7358 2.08691 22.2033 2.08691 22.7793V41.5619C2.08691 44.4377 4.42848 46.7793 7.30427 46.7793H40.6956C43.5714 46.7793 45.913 44.4377 45.913 41.5619V22.7793C45.913 22.2033 45.4456 21.7358 44.8696 21.7358ZM43.826 41.5619C43.826 43.2879 42.4216 44.6924 40.6956 44.6924H7.30437C5.57842 44.6924 4.17393 43.2879 4.17393 41.5619V23.8229H43.826V41.5619Z')
									path(d='M16.8417 1.3421C15.6208 0.978975 14.2622 1.45059 13.4879 2.48784C12.8994 3.27877 12.722 4.26172 12.9975 5.18627C14.4333 10.0155 18.9558 13.388 23.9999 13.388C24.5759 13.388 25.0434 12.9205 25.0434 12.3445C25.0434 7.30244 21.6709 2.7779 16.8417 1.3421ZM14.9968 4.59149C14.8799 4.19706 15.0489 3.88607 15.1616 3.73581C15.364 3.46454 15.6708 3.30175 15.9797 3.30175C16.0694 3.30175 16.1592 3.31633 16.2469 3.34353C19.8406 4.40993 22.4472 7.56961 22.8897 11.2343C19.2229 10.7897 16.0653 8.18317 14.9968 4.59149Z')
									path(d='M34.512 2.48977C33.7399 1.45253 32.3729 0.980907 31.1583 1.34198C26.3291 2.77777 22.9565 7.30027 22.9565 12.3444C22.9565 12.9204 23.4241 13.3879 24.0001 13.3879C29.0443 13.3879 33.5667 10.0153 35.0025 5.1882C35.2801 4.26375 35.1006 3.27864 34.512 2.48977ZM33.0011 4.59137C31.9347 8.1851 28.775 10.7917 25.1104 11.2341C25.5549 7.56733 28.1615 4.4098 31.7532 3.34125C31.8429 3.31621 31.9327 3.30163 32.0203 3.30163C32.3292 3.30163 32.6359 3.46441 32.8363 3.73569C32.949 3.88595 33.1201 4.19693 33.0011 4.59137Z')
									path(d='M24.4005 11.3824C24.0081 11.2176 23.5636 11.3073 23.2631 11.6078L17.0022 17.8686C16.5953 18.2756 16.5953 18.9372 17.0022 19.3442C17.4092 19.7511 18.0708 19.7511 18.4777 19.3442L22.9563 14.8634V45.7358C22.9563 46.3118 23.4238 46.7793 23.9998 46.7793C24.5758 46.7793 25.0433 46.3118 25.0433 45.7358V12.3444C25.0433 11.9229 24.7887 11.541 24.4005 11.3824Z')
									path(d='M30.9977 17.8688L24.7368 11.608C24.3298 11.201 23.6682 11.201 23.2613 11.608C22.8543 12.0149 22.8543 12.6765 23.2613 13.0835L29.5221 19.3443C29.7267 19.5467 29.9938 19.6491 30.2609 19.6491C30.5281 19.6491 30.7952 19.5468 30.9977 19.3443C31.4046 18.9373 31.4046 18.2758 30.9977 17.8688Z')
								p Скидка 20% активирована
							+b.A.prices__item-btn.btn._white-hov(href='#!')
								span ПРОЙТИ ПРОГРАММУ

		//end prices
		//end entry
